[Unit]
Description=Uptime Kuma
After=network.target

[Service]
Type=simple
User=kuma
Group=kuma
WorkingDirectory=/home/kuma/uptime-kuma
ExecStart=/usr/bin/node server/server.js --port=3001
Restart=always

[Install]
WantedBy=multi-user.target
